@media (max-width: 500px) {
    .fa-flip {
        font-size: 4px;
    }

    .par a {
        font-size: 16px;
        display: flex;
        text-align: right;
        text-decoration: none;
        background-color: #151226;
        overflow: hidden;


    }

    .contact-me {
        font-size: 10px;

    }



    .navbar {

        font-size: 16px;
    }



    h1 {
        margin-top: 20px;
    }


    .title h2 {
        margin-bottom: 5px;
        font-weight: 800px;
        font-size: 20px;

    }

    .container_content_inner {

        padding-top: -70px;
        margin-top: 80px;

    }

    .img-inner {

        max-width: 400px;
        margin-top: 0;
        line-height: 2.5px;

    }


    .container_img {
        max-width: 600px;
        height: auto;
        display: block;
        margin: 0 auto;
        margin-bottom: 300px;
    }

    .buttom {

        margin-top: -680px;
        margin-bottom: 20px;
    }




    .buttom .card {
        margin-top: 50px;
        margin-left: 60px;
        margin-bottom: 20px;

    }


    .work .my-work {
        margin-top: -1200px;
        margin-bottom: 50px;
        padding-bottom: 0;
    }

    .work.btns .btns {
        margin-top: -1200px;

    }

    .container {
        position: relative;
    }



    .work {
        margin-bottom: -150px;
    }



    .contact-social-links p a {


        font-size: 16px;
        text-decoration: none;
        margin-right: 20px;
    }


    .footer-contact {
        display: inline-flex;
        justify-content: center;
        font-size: 25px;
        margin: 0 auto;

    }


    .container-contact {

        margin-top: 400px;


    }

    .google-map {
        padding-bottom: 50%;
        position: relative;

    }

    .google-map iframe {


        max-width: 600px;
        height: auto;
        position: absolute;
        height: 50%;
        width: 50%;
        left: 0;
        top: 0;

    }

    .social-large-screen {
        display: none;

    }


    .small-screen-footer .heading-small-screen {

        margin-left: 50px;
        font-size: 30px;
    }



}



:root {
    --secondary-color: #151226;

}


h2 {
    font-size: 30px;
    color: blue;
    margin-bottom: 20px;
    transform: translateY(100px);
    animation: slideUp .20s ease forwards .25s;
    margin-top: 10px;
    font-weight: 800px;



}


.container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    animation: expand .8s ease forwards;
    background-color: var(--secondary-color);

    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .8s ease;
    padding-top: 0;




}

.container_content {
    width: 100%;
    margin-top: 0;
}

.container_content_inner {
    width: 85%;
    margin-left: 30px;
    padding-top: 20px;

}

.container_outer_img {
    margin: 30px;
    width: 85%;
    overflow: hidden;
}

.container_img {
    width: 100%;
    animation: slideIn 1.0s ease-in-out forwards;
    max-width: 600px;
    border-radius: 6px;
}

.par {

    overflow: hidden;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 0;
}

.navbar {
    margin-bottom: 45px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.nav-link:hover {
    color: blue;
    transition: all ease-in-out 150ms;


}

.navbar-nav .active {
    color: blue;
}

.nav {

    margin-top: 40;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;


}

.contact-me {
    text-decoration: none;
    color: white;
}



p {
    line-height: 28px;
    transform: translateY(300px);
    animation: slideUp .6s ease-in-out forwards .8s;
}

.btns {
    margin: 0 auto;
    display: block;
    height: 100%;
    width: 250px;
    overflow: hidden;
    text-decoration: none;



}

.par a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;


}




.web {
    color: white;
    font-size: 16px;
    font-style: italic;
    text-align: center;
}



.title {
    overflow: hidden;
    height: auto;
}

.card-title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;

}




.card {
    margin-left: 45px;
    margin-top: -800px;
    height: 450px;

    margin-bottom: -50px;
    padding-bottom: 5px;

}



.my-work a {
    margin-top: -900px;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;


}

.my-work {

    margin-top: -410px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(13, 110, 253);
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    line-height: 33.42px;
    text-align: right;
    margin-bottom: 30px;
}


.fa-beat {
    color: #0B5ED7;
    display: inline;
    padding-left: 30px;
    margin-top: 50px;
}









.contact-info {
    margin-left: 80px;
    text-align: center;

}


li p .heading {
    margin-left: 10px;
    font-size: 40px;
    color: #0B5ED7;
}

li p .heading:hover {
    transition: all 150ms ease-in-out;
    color: #151226;
}




.get-intouch {

    text-align: center;
    color: #0B5ED7;
    font-size: 30px;
    font-weight: 800px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-social-links {

    margin-top: 0;
    font-size: 10px;
    list-style: none;
}

a .contact-info {
    text-decoration: none;
    font-size: 25px;

}

.container-contact {
    margin-bottom: 150px;
}



.contact-social-links p a {


    font-size: 16px;
    text-decoration: none;
    margin-left: 80px;
}

.google-map {
    padding-bottom: 50%;


}

.google-map iframe {
    height: 50%;
    width: 50%;

    position: absolute;
}

.social-large-screen{

    margin-right: 100px;
}




@keyframes slideIn {
    0% {
        transform: translateX(500px) scale(.2);
    }

    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes expand {
    0% {
        transform: translateX(1400px);
    }

    100% {
        transform: translateX(0px);
    }
}